<!DOCTYPE html>
<html>

<head>
    <title>Blog Website - Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://js.stripe.com/v3/"></script>
</head>
<style>
    .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

</style>
<body>
    <header>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a class="navbar-brand" href="/">Blog Website</a>
           
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <!-- Default dropleft button -->
                    {% if 'name' in request.session %}
                    <h5 class="mr-3 mt-2 text-white">Welcome, {{ request.session.name }}</h5>
                    {% else %}
                    <h5 class="mr-3 mt-2 text-white">Welcome, Guest User</h5>
                    {% endif %}
                    <div class="btn-group dropleft">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Menu
                        </button>
                        <div class="dropdown-menu text-center">
                           <div class="dropdown-item">
                            <a href="/" style="text-decoration: none;">Home</a>
                           </div>
                           
                           <div class="dropdown-item">
                            {% if 'name' not in request.session %}
                            <a href="/register" style="text-decoration: none;">Register</a>
                            {% endif %}
                           </div>
                           <div class="dropdown-item">
                            {% if 'name' in request.session %}
                            <a href="/logout" style="text-decoration: none;">Logout</a>
                            {% else %}
                            <a href="/login" style="text-decoration: none;">Login</a>
                            {% endif %}
                           </div>
                        </div>
                        
                    </div>

                   
                </ul>

            </div>
        </nav>

    </header>
    <div class="row mt-3">
        <div class="col-10 text-right ">
            <a href="/createblog"><button class="btn btn-success">+Create blog</button></a>
        </div>
        <div class="col-2 text-left ">
            <a href="/myblogs"><button class="btn btn-warning text-white ">My Blogs</button></a>
        </div>
    </div>
   
    <section class="container mt-4" style="margin-bottom: 100px;background-color: #e1e1e1;padding: 20px;border-radius: 10px;">
       
      
        <h2>Hello {{ request.session.name }}</h2>
        <p>Your account is not paid account, So you can't read more than 10 blogs. </p>
        <p>And also if you have not read 10 blog in 30-days(account create date + 30 days) than your free 10 blogs will expire. </p>
        <p>Our one time premium plan provide lifetime access to all blogs.</p>
        <p>Premium plan cost only ₹ 399</p>
        <span class="text-center"><button class="btn btn-success" id="checkout-button">Go Premium</button></span>

        <!-- Add more blog posts here -->

    </section>

    <div class="fixed-bottom">
       
        <footer class="bg-dark text-light text-center py-3 mt-4 ">

            <p>&copy; 2023 Blog Website. All rights reserved.</p>
        </footer>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h2>Hello {{ request.session.name }}</h2>
          <p>Your account is not paid account, So you can't read more than 10 blogs. </p>
          <p>And also if you have not read 10 blog in 30-days(account create date + 30 days) than your free 10 blogs will expire. </p>
          <p>Our one time premium plan provide lifetime access to all blogs.</p>
          <p>Premium plan cost only ₹ 399</p>
          <span class="text-center"><button class="btn btn-success" id="checkout-button">Go Premium</button></span>
        </div>
      </div>
      
      
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
<script>
    // Open the modal
function openmodel() {
  document.getElementById("myModal").style.display = "block";
}
{% if a %}
    openmodel()
{% endif %}
// Close the modal
document.getElementsByClassName("close")[0].onclick = function() {
  document.getElementById("myModal").style.display = "none";
  window.location.replace('/')
}

</script>



<script type="text/javascript">
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe('pk_test_51NQPhxSCejTyNzmdmX1JRwJ2H4R91FJB4h3Bt98gQR4uJMG9ZhwNruhi5letSkauRMEP5IbvJKnqLiImvqbmaCqp00ww06oKxH');
    var checkoutButton = document.getElementById('checkout-button');
   
    checkoutButton.addEventListener('click', function() {
    // Create a new Checkout Session using the server-side endpoint you
    // created in step 3.
    fetch('/create-checkout-session', {
    method: 'POST',
    })
    .then(function(response) {
    return response.json();
    })
    .then(function(session) {
    return stripe.redirectToCheckout({ sessionId: session.id });
    })
    .then(function(result) {
    // If `redirectToCheckout` fails due to a browser or network
    // error, you should display the localized error message to your
    // customer using `error.message`.
    if (result.error) {
    alert(result.error.message);
    }
    })
    .catch(function(error) {
    console.error('Error:', error);
    });
    });
    </script>
</html>