<!DOCTYPE html>
<html>

<head>
    <title>Blog Website - Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://js.stripe.com/v3/"></script>
</head>
<style>
    .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

</style>
<body>
    <header>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a class="navbar-brand" href="/">Blog Website</a>
           
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <!-- Default dropleft button -->
                    {% if 'name' in request.session %}
                    <h5 class="mr-3 mt-2 text-white">Welcome, {{ request.session.name }}</h5>
                    {% else %}
                    <h5 class="mr-3 mt-2 text-white">Welcome, Guest User</h5>
                    {% endif %}
                    <div class="btn-group dropleft">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Menu
                        </button>
                        <div class="dropdown-menu text-center">
                           <div class="dropdown-item">
                            <a href="/" style="text-decoration: none;">Home</a>
                           </div>
                           <div class="dropdown-item">
                            {% if 'name' not in request.session %}
                            <a href="/register" style="text-decoration: none;">Register</a>
                            {% endif %}
                           </div>
                           <div class="dropdown-item">
                            {% if 'name' in request.session %}
                            <a href="/logout" style="text-decoration: none;">Logout</a>
                            {% else %}
                            <a href="/login" style="text-decoration: none;">Login</a>
                            {% endif %}
                           </div>
                        </div>
                        
                    </div>

                   
                </ul>

            </div>
        </nav>

    </header>
    <div class="row mt-3">
        <div class="col-10 text-right ">
            <a href="/createblog"><button class="btn btn-success">+Create blog</button></a>
        </div>
        <div class="col-2 text-left ">
            <a href="/myblogs"><button class="btn btn-warning text-white ">My Blogs</button></a>
        </div>
    </div>
   
    <section class="container mt-4" style="margin-bottom: 100px;">
        <div class="container">
            <div class="row ">
                <div class="col-md-6 offset-md-3">
                    <div class="card mt-5">
                        <div class="card-body text-center" style="background-color:#fefefe;">
                            <h3 class="card-title">Payment Successful 😀</h3>
                            <p class="card-text">Thank you for your payment!</p>
                            <a href="/" class="btn btn-success">Continue reading Blogs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <div class="fixed-bottom">
       
        <footer class="bg-dark text-light text-center py-3 mt-4 ">

            <p>&copy; 2023 Blog Website. All rights reserved.</p>
        </footer>
    </div>
    
      
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>